<div *ngIf="hero">
  <div class="row">
		<div class="col-sm-3">
				<label>id: </label> <h3>{{hero.software_version}}</h3>
		</div>
		<div class="col-sm-3">
				<label>platform: </label> <h3>{{hero.product_number}}</h3>
		</div>
		<div class="col-sm-3">
				<label>passRate: </label> <h3>100%</h3>
		</div>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Team</th>
				<th>PassedCase</th>
			</thead>
			<tbody>
				<tr *ngFor="let item of regItems" [class.selected]="item === selectedItem" (click)="onSelect(item)">
					<td>{{item.id}}</td>
					<td>{{item.team}}</td>
					<td>{{item.passedCase}}</td>
					<td *ngIf="selectedItem == item"><button (click)="modify()">Modify</button></td>
				</tr>
			</tbody>
		</table>
	</div>
  <button (click)="goBack()">Back</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->