<h2>Latest Regressions</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.product_release}}</span>
    <span>{{hero.software_version}}</span>
    
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.software_version | uppercase}} is my Regression
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->